<header class="masthead">
  <div class="masthead__inner-wrap">
    <a class="site-brand" href="/" target="_self" aria-label="{{ site.title }}">
      <img class="site-brand__logo" src="/images/suslogoname.png" alt="上海体育大学">
      <span class="site-brand__text">竞技运动科学</span>
    </a>

    <nav id="site-nav" class="site-nav" aria-label="Primary navigation">
      {% for link in site.data.navigation.main %}
        <a class="site-nav__link" href="{{ link.url }}" target="_self">{{ link.title }}</a>
      {% endfor %}
    </nav>
  </div>
</header>
